h1, h2, h3, h4, h5, h6{
	font-family:'Amita', 'cursive';
}

p{
    font-family: Vidaloka;
}
.navbar-brand img{
	
}

.hero{
	background: url(../img/litter3.jpeg);
	background-size:cover;
	background-position:center center;
    color: white;
	height:calc(100vh - 150px);
}

.herojumbo{
	background:linear-gradient( rgba(0,0,0,.15), rgba(0,0,0,.25) );
}

.btn{
	text-transform: uppercase;
	font-family:'Maven Pro';
}

.card, .card-img{
	border:none;
	border-radius: 0px;
}

.card-img-overlay{
	background:rgba(0,0,0,.5);
	padding:70px;
}

#cta{
	background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25) ), url(../img/litter5.jpeg);
	background-attachment: local;
	background-size: cover;
	padding:100px 15px;
}

#b1{
	background: linear-gradient( rgba(255,255,255,1), rgba(255,255,255,.5) ), url(../img/b1.jpg);
		background-size:cover;
	background-position:center center;
}

#b2{
	background: linear-gradient( rgba(255,255,255,1), rgba(255,255,255,.5) ), url(../img/b2.jpg);
		background-size:cover;
	background-position:center center;
}


@media screen and (max-width:400px){
	.card-img-overlay{
	background:rgba(0,0,0,.5);
	padding:20px;
}
}